footer {
   div {
      background-color: black;
      padding: 1rem;
      h2 {
         color: white;
         font-size: 12px;
         text-align: center;
         text-transform: uppercase;
         letter-spacing: 1.2px;
         a {
            font-family: 'Manrope', sans-serif;
            text-decoration: none;
            color: grey;
         }
      }
   }
}

article {
   background-color: #131313;
   section {
      width: 90%;
      margin: 0 auto;
      .flexing {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         .footerLogo {
            width: 10%;
            margin: 1rem; 
            img {
               width: 100%;
               border-radius: 50%;
               border: 1px solid #000;
            }
         }
         h4 {
            color: rgb(182, 179, 179);
            text-transform: uppercase;
            font-weight: 600;
            text-align: left;
            font-size: 1.3rem;
            margin-top: 2rem;
         }
      }
   }
}

.contactUs {
   width: 80%;
}
.footerContact {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: left;
   margin: .5rem 0;
   font-size: .9rem;
   
   width: 70%;
   // flex-grow: 1;
   text-transform: uppercase;
   p {
      width: 50%;
      color: white;
      text-align: left;
      margin: 0.5rem auto;
      letter-spacing: 1.3px;
      i {
         color: pink;
         font-size: 1rem;
         text-shadow: .5px .5px 1.5px rgb(85, 84, 84);
      }
      a {
         color: white;
         text-decoration: none;
         &:hover {
            color: pink;
         }
      }
   }
}

@media (max-width: 1300px) {
   .footerContact {
      width: 80%;
   }
}

@media (max-width: 1130px) {
   .footerContact {
      width: 90%;
   }
}

@media (max-width: 1000px) {
   article section .flexing .footerLogo {
      width: 15%;
   }
   .footerContact {
      width: 100%;
   }
}

@media (max-width: 882px) {
   article section {
      .flexing  { 
         .footerLogo {
            width: 15%;
         }
         h4 {
            font-size: 1rem;
         }
      }
   }
   .contactUs {
      width: 90%;
   }
   .footerContact {
      margin-bottom: 2rem;
      p {
         font-size: .8rem;
      }
   }
}

@media (max-width: 720px) {
   .footerContact {
      p {
         width: 100%;
      }
   }
   article section {
      .flexing  { 
         .footerLogo {
            width: 30%;
            margin-top: 2rem;
         }
      }
   }
}

@media (max-width: 600px) {
   article section {
      .flexing  { 
         .footerLogo {
            width: 40%;
         }
      }
   }
   .footerContact {
      p {
         font-size: .65rem;
      }
   }
}

@media (max-width: 500px) {
   article section {
      .flexing  { 
         .footerLogo {
            width: 40%;
         }
      }
   }
   .footerContact {
      p {
         font-size: .65rem;
         margin: 0.3rem auto;
         letter-spacing: 1.1px;
      }
   }
}

@media (max-width: 400px) {
   article section {
      .flexing  { 
         .footerLogo {
            width: 45%;
            margin-top: 2.5rem;
            margin-right: 0rem;
         }
      }
   }
   .footerContact {
      p {
         font-size: .55rem;
         margin: 0.3rem auto;
         letter-spacing: 1.1px;
      }
   }
   .contactUs {
      width: 100%;
   }
}

@media (max-width: 350px) {
   article section {
      .flexing  { 
         .footerLogo {
            width: 45%;
            margin-top: 3rem;
         }
      }
   }
   .footerContact p i {
      font-size: .7rem;
   }
}