* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   background-color: #FDF6F0;
   font-family: 'Manrope', sans-serif;
      // font-family: 'Poppins', sans-serif;
      // font-family: 'Raleway', sans-serif;
      // font-family: 'Roboto Mono', monospace;
}

.mainWrapper {
   width: 100%;
   max-width: 1600px;
   margin: 0 auto;
}

.flex {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 2rem;
}