* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   background-color: #FDF6F0;
   font-family: 'Manrope', sans-serif;
      // font-family: 'Poppins', sans-serif;
      // font-family: 'Raleway', sans-serif;
      // font-family: 'Roboto Mono', monospace;
}

.mainWrapper {
   width: 100%;
   max-width: 1600px;
   margin: 0 auto;
}

.flex {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 2rem;
}

.mainWrapper {
   position: relative;
   nav {
      position: sticky;
      top: 0;
      z-index: 2000;
   }
}

nav {
   height: 10vh;
   min-height: 4rem;
   background-color: rgba(255, 255, 255, 1);
   display: flex;
   .navWrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 91%;
      margin: 0 auto;
      .logo{
         width: 50px;
         height: 50px;
         margin-top: 1rem;
         margin-left: 0.7rem;
         img {
            border-radius: 50px;
            width: 100%;
         }
      }
      .nav-links {
         li a {
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 1.1px;
         }
      }
   }
}
