.wrapper {
   width: 90%;
   margin: 0 auto;
}
nav {
   height: 10vh;
   min-height: 3.5rem;
   background-color: rgba(255, 255, 255, 1);
   display: flex;
   .navWrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 91%;
      margin: 0 auto;
      .logo{
         width: 50px;
         height: 50px;
         margin-top: 1rem;
         margin-left: 0.7rem;
         img {
            border-radius: 50px;
            width: 100%;
         }
      }
      .nav-links {
         li a {
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 1.1px;
         }
      }
   }
}

.headerLanding {
   // background-image: url(../../assets/header.JPG);
   background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255,255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/header.JPG);
}

.headerContact {
   // background-image: url(../../assets/pic1.jpg);
   background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255,255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/pic1.jpg);
}

.headerProducts {
   background-image: url(../../assets/pic5.jpg);
   background-position: 50% -15%;
}

.headerTeam {
   // background-image: url(../../assets/pic4.jpeg);
   background-position: 50% 25%;
   height: 40rem;
   background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255,255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/pic4.jpeg);
}

.headerService {
   // background-image: url(../../assets/pic3.jpg);
   background-position: 50% 30%;
   background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255,255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/pic3.jpg);
}

header {
   height: 95vh;
   background-size: cover;
   h2 {
      text-transform: uppercase;
      color: white;
      margin-top: 4rem;
      text-shadow: 2px 2px 10px #000;
      font-size: 4rem;
      width: 50%;
      font-weight: 400;
      font-family: 'Manrope', sans-serif;
      // font-family: 'Poppins', sans-serif;
      // font-family: 'Raleway', sans-serif;
      // font-family: 'Roboto Mono', monospace;
   }
}

.nav-links {
   display: flex;
   list-style: none;
   width: 50%;
   height: 100%;
   justify-content: space-around;
   align-items: center;
   // margin-left: auto;
   z-index: 2;
   li a {
      color: rgb(65, 64, 64);
      text-decoration: none;
      font-size: 16px;
      font-family: sans-serif;
      &:hover {
         color: rgb(255, 192, 203);
      }
   }
}


@media screen and(max-width: 768px) {
   .line {
      width: 30px;
      height: 3px;
      background-color: black;
      margin: 5px;
   }
   .nav {
      position: relative;
   }
   .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 4%;
      transform: translate(-5%, -50%);
      z-index: 2;
   }
   .nav-links {
      position: fixed;
      background-color: #ffffff;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -20%);
      transition: all 1s ease-out;
      pointer-events: none;
   }
   .nav-links.open {
      clip-path: circle(1500px at 90% -10%);
      -webkit-clip-path: circle(1500px at 90% -10%);
      pointer-events: all;
   }

   .nav-links li {
      opacity: 0;
   }
   .nav-links li a {
      font-size: 25px;
   }
   .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.15s;
   }
   .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.3s;
   }
   .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.45s;
   }
   .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.6s;
   }
   .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.75s;
   }
   li.fade {
      opacity: 1;
   }
}

@media screen and(max-width: 500px) {
   .headerLanding {
      h2 {
         font-size: 2rem;
      }
   }
   .wrap {
      top: 80%;
      left: 20%;
   }
}

.bookButton {
  padding: 25px 35px;
  text-decoration: none;
  font-size: 35px;
  display: block;
  margin: 20px auto;
}


.wrap {
  position: absolute;
  top: 70%;
  left: 70%;
//   margin-top: -259px;
//   margin-left: -89px;
  text-align: center;
  z-index: 1;
}

.btn2, .btn2:link, .btn2:visited {
   background-color: rgba(255, 192, 203, 0.7);
   border: none;
   border-radius: 3px;
   box-shadow: 0 -3px 0 rgba(0,0,0,0.15) inset;
   color: #fff;
   letter-spacing: .1em;
   cursor: pointer;
   position: relative;
   text-align: center;
   text-transform: uppercase;
   vertical-align: middle;
   white-space: nowrap;
  transition-property: transform;
  transform: translateZ(0);
  transition: box-shadow 0.5s cubic-bezier(0.390, 0.500, 0.150, 1.360);
   
   &:hover {
     box-shadow: 0 0 0 50px rgba(0,0,0,0.15) inset;
   }
  
  &:active {
    transform: translateY(3px);
  }
 }

