.productMain {
   h2 {
      font-size: 2.2rem;
      text-align: center;
      margin: 2rem 0 1rem 0;
      text-transform: uppercase;
      letter-spacing: 1.2px;
   }
}
.productSection {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 90%;
   margin: 4rem auto 3rem auto;
   padding: 1rem 0;
   .productContainer {
      width: 44%;
      background-color: white;
      border-radius: 5px;
      border: 1px solid rgb(194, 192, 192);
      box-shadow: 1px 1px 5px rgb(110, 110, 110);
      .productImage {
         width: 100%;
         img {
            width: 100%;
            object-fit: cover;
            height: 30rem;
            object-position: bottom;
         }
      }
      .productInfo {
         padding: 2rem;
      }
      h3 {
         text-align: center;
      }
      p {
         margin: 1rem auto;
      }
      a {
         button {
            padding: .5rem;
            border-radius: 5px; 
            width: 46%;
            text-transform: uppercase;
            font-size: 0.7rem;
            margin: 0.2rem;
            border: none;
            background-color: rgb(197, 194, 194);
            // box-shadow: 2px 2px 4px #000;
            &:hover {
               background-color: pink;
               box-shadow: none;
               color: white;
            }
            &:focus {
               color: rgb(160, 113, 121);
               border: 1px solid rgb(138, 55, 69);
            }
            &:active {
               color: rgb(160, 113, 121);
               border: 1px solid rgb(138, 55, 69);
            }
         }
         .buyProduct {
            background-color: pink;
            color: #000;
            &:hover {
               color: white;
            }
         }
      }
      &:hover {
         transform: scale(1.1);
         transition: all 0.7s;
      }
   }
}

.final {
   width: 90%;
   margin: 1rem auto;
   
}

@media (max-width: 1144px) {
   .productSection .productContainer .productImage img {
      height: 25rem;
   }
   
}

@media (max-width: 1050px) {
   .productSection .productContainer .productImage img {
      height: 18rem;
   }
}

@media (max-width: 900px) {
   .productSection {
      .productContainer {
         a button {
            font-size: 0.6rem;
            width: 100%;
         }
      }
   }
}

@media (max-width: 768px) {
   .headerProducts {
      background-position: 50% 100%;
      .wrapper {
         h2 {
            font-size: 3.3rem;
            padding-top: 3rem;
         }
      }
   }
   .productSection {
      .productContainer {
         &:hover {
            transform: none;
         }
      }
   }
}

@media (max-width: 700px) {
   .productSection {
      flex-direction: column;
      .productContainer {
         margin: 0.5rem auto;
         width: 100%;
         a button {
            width: 47%;
            font-size: .8rem;
         }
         .productImage img {
            height: 30rem;
         }
      }
   }
   .final {
      text-align: center;
   }
   .productSection .productContainer .productInfo {
      padding: 1rem;
   }
}

@media (max-width: 500px) {
   .headerProducts {
      .wrapper {
         h2 {
            font-size: 2.8rem;
            padding-top: 2rem;
         }
      }
   }
   .productSection {
      .productContainer {
         .productImage img {
            height: 21rem;
         }
      }
   }
   .productMain {
      h2 {
         font-size: 1.8rem;
      }
   }
   .final {
      font-size: .8rem;
   }
}

@media (max-width: 450px) {
   .headerProducts {
      background-position: top;
      background-size: contain;
      height: 46vh;
   }
}

@media (max-width: 400px) {
   .productSection {
      margin: 2rem auto 3rem auto;
      .productContainer {
         .productImage img {
            height: 18rem;
         }
      }
   }
   .headerProducts {
      .wrapper {
         h2 {
            font-size: 2.3rem;
            padding-top: 1.5rem;
         }
      }
   }
   .productMain {
      h2 {
         font-size: 1.5rem;
      }
   }
}

@media (max-width: 350px) {
   .productSection {
      .productContainer {
         .productImage img {
            height: 15rem;
         }
         a button {
            width: 43%;
            font-size: .6rem;
         }
      }
   }
   .headerProducts {
      height: 35vh;
   }
}

@media (max-width: 350px) {
   .headerProducts {
      height: 30vh;
   }
}