html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FDF6F0;
  font-family: 'Manrope', sans-serif;
}

.mainWrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

nav {
  height: 10vh;
  min-height: 3.5rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 91%;
  margin: 0 auto;
}

nav .navWrap .logo {
  width: 50px;
  height: 50px;
  margin-top: 1rem;
  margin-left: 0.7rem;
}

nav .navWrap .logo img {
  border-radius: 50px;
  width: 100%;
}

nav .navWrap .nav-links li a {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1.1px;
}

.headerLanding {
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/header.JPG);
}

.headerContact {
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/pic1.jpg);
  height: 45rem;
}

.headerProducts {
  background-position: 50% -15%;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/pic5.jpg);
}

.headerTeam {
  background-position: 50% 25%;
  height: 40rem;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/pic4.jpeg);
}

.headerService {
  background-position: 50% 30%;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/pic3.jpg);
}

header {
  height: 100vh;
  background-size: cover;
}

header h2 {
  text-transform: uppercase;
  color: white;
  margin-top: 4rem;
  text-shadow: 2px 2px 10px #000;
  font-size: 4rem;
  width: 50%;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.nav-links li a {
  color: #414040;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
}

.nav-links li a:hover {
  color: pink;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
  .nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 4%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.15s;
    transition: all 0.5s ease 0.15s;
  }
  .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.45s;
    transition: all 0.5s ease 0.45s;
  }
  .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(5) {
    -webkit-transition: all 0.5s ease 0.75s;
    transition: all 0.5s ease 0.75s;
  }
  li.fade {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .headerLanding h2 {
    font-size: 2rem;
  }
  .wrap {
    top: 80%;
    left: 20%;
  }
}

.bookButton {
  padding: 25px 35px;
  text-decoration: none;
  font-size: 35px;
  display: block;
  margin: 20px auto;
}

.wrap {
  position: absolute;
  top: 70%;
  left: 70%;
  text-align: center;
  z-index: 1;
}

.btn2, .btn2:link, .btn2:visited {
  background-color: rgba(255, 192, 203, 0.7);
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset;
          box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  letter-spacing: .1em;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: -webkit-box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: -webkit-box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36), -webkit-box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
}

.btn2:hover, .btn2:link:hover, .btn2:visited:hover {
  -webkit-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.15) inset;
          box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.15) inset;
}

.btn2:active, .btn2:link:active, .btn2:visited:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.mainContact {
  height: 100vh;
}

.mainService {
  background-color: #FDF6F0;
}

.serviceContainer {
  background-color: white;
  width: 90%;
  margin: 2rem auto;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
}

.serviceContainer h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-shadow: 2px 3px 5px #b98089;
}

.serviceContainer .serviceInfo {
  color: grey;
  margin-bottom: 1rem;
}

.serviceContainer .productType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 5rem;
}

.serviceContainer .productType .serviceName {
  font-size: 1.2rem;
  font-weight: 600;
  color: pink;
  margin-bottom: 1rem;
}

.serviceContainer button {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 1rem;
  right: 45%;
  -webkit-box-shadow: 0px 2px 5px #000;
          box-shadow: 0px 2px 5px #000;
  border-radius: 15px;
  border: none;
}

.serviceContainer button:hover {
  background-color: pink;
}

.individualProduct {
  border: 1px solid #bdbbbb;
  padding: 2rem;
  border-radius: 10px;
  min-width: 30%;
}

.individualProduct:hover {
  background-color: #FDF6F0;
  -webkit-box-shadow: 5px 5px 10px #000;
          box-shadow: 5px 5px 10px #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.headshot {
  width: 60%;
}

.headshot img {
  width: 100%;
}

.mainTeam {
  position: relative;
  height: 100vh;
}

.mainTeam .teamAbsolute {
  width: 90%;
  height: 100vh;
  border-radius: 2rem;
  position: absolute;
  top: -7rem;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 3rem;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #000;
  padding: 2rem;
  margin: 3rem;
  background-color: white;
}

section form h2 {
  text-align: center;
}

section form label {
  text-transform: uppercase;
  margin: 0.5rem 0;
}

section form label input,
section form label textarea {
  padding: 0.5rem;
  background-color: #FDF6F0;
  border: 1px solid #000;
}

section .calendly {
  width: 50%;
  padding: 2rem;
  margin: 3rem;
  border: 1px solid #000;
}

.submit {
  width: 40%;
  margin: 1rem auto;
  padding: 0.7rem 1rem;
  background-color: pink;
  border: none;
  cursor: pointer;
}

.contactInstructions {
  width: 90%;
  margin: 1rem auto;
}

.contactInstructions h2 {
  margin: 0 auto;
}

.contactInstructions .warning {
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
  text-decoration: underline;
}

.contactInstructions h2 {
  font-weight: 400;
}

.contactInstructions .flex h2 {
  width: 45%;
}

.contactInstructions .cash {
  text-align: center;
  margin-top: 1rem;
}

.contactInstructions .contactNumber {
  text-align: center;
}

.teamflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.carousel h1 {
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.carousel .testimonial {
  margin: 1rem 0rem 3rem 0rem;
  padding: 5rem 3rem;
  background-color: #FFF;
  -webkit-box-shadow: 2px 3px 15px #000;
          box-shadow: 2px 3px 15px #000;
}

.carousel .testimonial p {
  line-height: 2rem;
  font-weight: 700;
}

footer div {
  background-color: black;
  padding: 1rem;
}

footer div h2 {
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

footer div h2 a {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  color: grey;
}
/*# sourceMappingURL=styles.css.map */