html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FDF6F0;
  font-family: 'Manrope', sans-serif;
}

.mainWrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.mainWrapper {
  position: relative;
}

.mainWrapper nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2000;
}

nav {
  height: 10vh;
  min-height: 4rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 91%;
  margin: 0 auto;
}

nav .navWrap .logo {
  width: 50px;
  height: 50px;
  margin-top: 1rem;
  margin-left: 0.7rem;
}

nav .navWrap .logo img {
  border-radius: 50px;
  width: 100%;
}

nav .navWrap .nav-links li a {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1.1px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.headerLanding {
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/header.jpeg);
  background-repeat: no-repeat;
}

.headerContact {
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/pic1.jpg);
  height: 45rem;
  background-repeat: no-repeat;
}

.headerProducts {
  background-position: 50% 0%;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/pic5.jpg);
  height: 88vh;
  background-repeat: no-repeat;
}

.headerTeam {
  background-position: 50% 25%;
  height: 40rem;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/pic4.jpeg);
  background-repeat: no-repeat;
}

.headerService {
  background-position: 50% 30%;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../assets/services.jpeg);
  height: 88vh;
  background-repeat: no-repeat;
}

header {
  height: 100vh;
  background-size: cover;
}

header h2 {
  text-transform: uppercase;
  color: white;
  padding-top: 4rem;
  text-shadow: 2px 2px 10px #000;
  font-size: 4rem;
  width: 50%;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.nav-links li a {
  color: #414040;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
}

.nav-links li a:hover {
  color: pink;
}

.indexTitle {
  padding-top: 37rem;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
  .nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 45%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 200;
  }
  .nav-links {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.15s;
    transition: all 0.5s ease 0.15s;
  }
  .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.45s;
    transition: all 0.5s ease 0.45s;
  }
  .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(5) {
    -webkit-transition: all 0.5s ease 0.75s;
    transition: all 0.5s ease 0.75s;
  }
  li.fade {
    opacity: 1;
  }
}

@media screen and (max-width: 400px) {
  .headerLanding h2 {
    font-size: 2rem;
  }
  .wrap {
    top: 80%;
    left: 20%;
  }
}

.bookButton {
  padding: 25px 35px;
  text-decoration: none;
  font-size: 35px;
  display: block;
  margin: 20px auto;
}

.wrap {
  position: absolute;
  top: 5%;
  left: 74%;
  text-align: center;
  z-index: 1;
}

.btn2, .btn2:link, .btn2:visited {
  background-color: rgba(255, 192, 203, 0.7);
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset;
          box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  letter-spacing: .1em;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: -webkit-box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: -webkit-box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36), -webkit-box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
}

.btn2:hover, .btn2:link:hover, .btn2:visited:hover {
  -webkit-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.15) inset;
          box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.15) inset;
}

.btn2:active, .btn2:link:active, .btn2:visited:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.carousel h2 {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 3rem;
  border-bottom: 2px solid #7c7c7c;
  margin: 2rem auto;
}

.carousel .test1 {
  font-size: 1.5rem;
}

.carousel .test1 em {
  line-height: 2rem;
  letter-spacing: 1.2px;
  margin-top: -.5rem;
}

.carousel .test2 {
  font-size: 2rem;
}

.carousel .test2 em {
  margin-top: 2rem;
  letter-spacing: 1.2px;
  line-height: 2.5rem;
}

.carousel .test3 {
  font-size: 1.5rem;
}

.carousel .test3 em {
  margin-top: -.5rem;
  letter-spacing: 1.2px;
  line-height: 2rem;
}

.carousel .testimonial {
  margin: 1rem 0rem 3rem 0rem;
  height: 20rem;
  padding: 5rem 3rem;
  background: linear-gradient(135deg, rgba(255, 192, 203, 0.9), rgba(248, 208, 214, 0.9), rgba(245, 218, 222, 0.9), rgba(248, 208, 214, 0.9), rgba(255, 192, 203, 0.9)), url(../../assets/pic3.jpg);
  color: #838282;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.carousel .testimonial em {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-weight: 300;
}

.carousel .testimonial:hover {
  background: linear-gradient(135deg, rgba(252, 207, 214, 0.9), rgba(248, 220, 224, 0.9), rgba(235, 195, 201, 0.9), rgba(248, 220, 224, 0.9), rgba(252, 207, 214, 0.9)), url(../../assets/pic3.jpg);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background-position: 100%;
  background-repeat: no-repeat;
}

.carousel .testimonial:hover em {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  color: black;
}

.slick-prev:before {
  color: #000;
}

.slick-next:before {
  color: #000;
}

.social {
  margin: 1rem auto 3rem auto;
}

.social a {
  text-align: center;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.social a:hover {
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: underline;
}

@media (max-width: 1130px) {
  .wrap {
    left: 70%;
  }
  .carousel .testimonial {
    height: auto;
  }
}

@media (max-width: 1000px) {
  .wrap {
    left: 67%;
  }
  .headerLanding {
    background-position: 50%;
  }
  .carousel .test2 {
    margin-top: 9rem;
  }
}

@media (max-width: 900px) {
  .nav-links {
    width: 60%;
  }
  .wrap {
    left: 67%;
  }
  .bookButton {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .wrap {
    left: 63%;
  }
  .indexTitle {
    font-size: 3.5rem;
    width: 60%;
  }
  .carousel h2 {
    font-size: 2.5rem;
  }
  .carousel .test1 em {
    font-size: 1.5rem;
  }
  .carousel .test2 {
    font-size: 2rem;
    margin-top: 9rem;
  }
  .social a {
    font-size: 1.2rem;
  }
  .footerInfo {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  .bookButton {
    font-size: 25px;
  }
}

@media (max-width: 650px) {
  .wrap {
    left: 59%;
  }
  .indexTitle {
    width: 75%;
    font-size: 3rem;
  }
  .carousel h2 {
    font-size: 2rem;
  }
  .carousel .test1 em,
  .carousel .test3 em {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .carousel .test2 {
    font-size: 1.5rem;
    margin-top: 4.5rem;
  }
}

@media (max-width: 550px) {
  .wrap {
    left: 56%;
  }
  .bookButton {
    padding: 20px 30px;
  }
  .carousel .test2 {
    padding: 3rem 1rem 5rem 1rem;
    margin-top: 12rem;
  }
  .carousel .test1,
  .carousel .test2,
  .carousel .test3 {
    width: 90%;
  }
  .carousel h2 {
    font-size: 1.7rem;
  }
  .carousel .test1 em,
  .carousel .test3 em {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .carousel .test2 em {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  .nav-links.open {
    width: 100%;
  }
  .social a {
    font-size: 0.9rem;
  }
  .footerInfo {
    font-size: 8px;
  }
  .slick-next,
  .slick-prev,
  .slick-arrow {
    display: none;
  }
}

@media (max-width: 500px) {
  .wrap {
    left: 52%;
  }
  .bookButton {
    padding: 20px 30px;
  }
  .headerLanding .indexTitle {
    font-size: 2.5rem;
  }
  .carousel .test1 em,
  .carousel .test3 em {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .carousel .test2 em {
    font-size: 1.35rem;
  }
}

@media (max-width: 450px) {
  .bookButton {
    font-size: 20px;
    padding: 20px 30px;
  }
}

@media (max-width: 400px) {
  nav .navWrap .logo {
    margin-top: 0.5rem;
  }
  .headerLanding {
    height: 85vh;
    background-position: 20%;
  }
  .headerLanding .indexTitle {
    padding-top: 1rem;
    font-size: 2rem;
  }
  .wrap {
    left: 48%;
    top: 27%;
  }
  .bookButton {
    font-size: 20px;
    padding: 20px 30px;
  }
  header h2 {
    width: 65%;
  }
  .carousel .test2 em {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .carousel .test1 em,
  .carousel .test3 em {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .carousel .testimonial {
    padding: 3rem 2rem;
  }
}

@media (max-width: 350px) {
  .wrap {
    left: 43%;
  }
  .bookButton {
    font-size: 20px;
    padding: 20px 30px;
  }
}

@media (max-width: 320px) {
  .wrap {
    left: 38%;
  }
  .headerLanding {
    background-position: 25%;
  }
}

.mainTeam {
  position: relative;
  height: 200rem;
}

.mainTeam .teamAbsolute {
  width: 90%;
  border-radius: 6px;
  position: absolute;
  top: -7rem;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 3rem;
}

.displayNoneMobile {
  display: none;
}

.teamflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 2px 2px 10px #757474;
          box-shadow: 2px 2px 10px #757474;
  border-radius: 5px;
  padding: 2rem 0;
  margin: 1rem 0;
  width: 100%;
  background-color: #FDF6F0;
}

.teamflex .headshot {
  width: 30%;
}

.teamflex .headshot img {
  border-radius: 3px;
  width: 100%;
  border: 5px solid grey;
}

.teamflex:hover {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.teamflex:hover .teamInfo p {
  color: #000;
  text-shadow: none;
}

.teamInfo {
  width: 60%;
}

.teamInfo h3 {
  margin: 1rem 0;
  font-size: 2rem;
  color: pink;
  text-shadow: .5px .5px 1.5px #000;
}

.teamInfo p {
  line-height: 1.5rem;
  margin: 1rem auto;
}

.teamInfo .teamPosition {
  font-weight: 700;
  font-size: 1.2rem;
  color: #686767;
  margin: 0.5rem 0 1rem 0;
}

.teamInfo .flexSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.teamInfo .flexSocial p {
  margin: 1rem 0.5rem;
  background-color: #FDF6F0;
}

.teamInfo .flexSocial p a {
  color: #bdbbbb;
  text-shadow: 1px 1px 2px #000;
}

.teamInfo .flexSocial p a i {
  font-size: 2rem;
}

.teamInfo .flexSocial p a i span {
  text-shadow: none;
  font-family: 'Roboto Mono', monospace;
  color: #030303;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.teamInfo .flexSocial p a:hover {
  -webkit-transform: all 0.7s;
          transform: all 0.7s;
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.teamInfo .flexSocial p a:hover span {
  text-decoration: underline;
  color: #e4a3ae;
}

@media (max-width: 1280px) {
  .mainTeam {
    height: 210rem;
  }
}

@media (max-width: 1124px) {
  .mainTeam {
    height: 220rem;
  }
}

@media (max-width: 1068px) {
  .headerTeam {
    height: 37rem;
  }
  .headerTeam .wrapper h2 {
    width: 100%;
  }
  .mainTeam {
    height: 230rem;
  }
  .teamInfo .flexSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1028px) {
  .mainTeam {
    height: 240rem;
  }
}

@media (max-width: 958px) {
  .mainTeam {
    height: 250rem;
  }
}

@media (max-width: 892px) {
  .mainTeam {
    height: 270rem;
  }
}

@media (max-width: 820px) {
  .mainTeam {
    height: 287rem;
  }
}

@media (max-width: 768px) {
  .headerTeam {
    height: 34rem;
  }
  .headerTeam .wrapper h2 {
    font-size: 3.5rem;
    padding-top: 3rem;
  }
  .mainTeam {
    height: 190rem;
  }
  .mainTeam .teamAbsolute {
    padding: 1rem 2rem;
  }
  .teamInfo h3 {
    font-size: 1.5rem;
  }
  .teamInfo .teamPosition {
    font-size: 1rem;
  }
  .teamInfo p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .flexSocial {
    line-height: 0.9rem;
  }
  .teamInfo .flexSocial p a i span {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 712px) {
  .mainTeam {
    height: 200rem;
  }
}

@media (max-width: 660px) {
  .mainTeam {
    height: 210rem;
  }
}

@media (max-width: 628px) {
  .mainTeam {
    height: 220rem;
  }
}

@media (max-width: 600px) {
  .headerTeam {
    height: 29rem;
  }
  .headerTeam .wrapper h2 {
    font-size: 3rem;
    padding-top: 2rem;
  }
  .mainTeam {
    height: 280rem;
  }
  .teamflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem auto;
  }
  .teamflex .headshot {
    text-align: center;
    width: 50%;
  }
  .teamflex .teamInfo {
    width: 80%;
    text-align: center;
  }
  .displayNoneMobile {
    display: block;
  }
  .displayNoneDesktop {
    display: none;
  }
}

@media (max-width: 500px) {
  .mainTeam {
    height: 290rem;
  }
}

@media (max-width: 460px) {
  .mainTeam {
    height: 300rem;
  }
}

@media (max-width: 450px) {
  .headerTeam {
    background-position: 90% 0%;
    height: 25rem;
  }
  .headerTeam .wrapper h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  .mainTeam {
    height: 320rem;
  }
  .mainTeam .teamAbsolute {
    width: 95%;
    left: 2.5%;
    padding: 1rem;
  }
  .teamflex .headshot {
    width: 70%;
  }
}

@media (max-width: 380px) {
  .mainTeam {
    height: 330rem;
  }
}

@media (max-width: 350px) {
  .headerTeam .wrapper h2 {
    font-size: 2rem;
    padding-top: 1.5rem;
  }
}

@media (max-width: 330px) {
  .mainTeam {
    height: 341rem;
  }
}

.mainService {
  background-color: #FDF6F0;
}

.allServices {
  margin-top: 2rem;
}

.serviceContainer {
  background-color: white;
  width: 90%;
  margin: 2rem auto;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
}

.serviceContainer h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.serviceContainer .serviceInfo {
  color: grey;
  margin-bottom: 1rem;
}

.serviceContainer .productType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 5rem;
}

.serviceContainer .productType .serviceName {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e4a1ac;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 1.3px;
}

.serviceContainer .productType .serviceImage {
  width: 100%;
  text-align: center;
}

.serviceContainer .productType .serviceImage img {
  width: 100%;
  height: 22rem;
  border-radius: 5px;
}

.serviceContainer .productType .serviceInfo {
  margin: 1rem 0;
}

.serviceContainer button {
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 1rem;
  background-color: pink;
  right: 45%;
  border-radius: 5px;
  border: none;
}

.serviceContainer button:hover {
  color: white;
}

.serviceBack {
  text-decoration: none;
  color: #000;
}

.serviceBack:hover {
  text-decoration: underline;
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.serviceNav {
  margin-bottom: 2rem;
}

.serviceNav h2 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-top: 3rem;
}

.serviceNav nav {
  background-color: #FDF6F0;
  margin-top: 1rem;
  z-index: 1;
}

.serviceNavFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 85%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  height: 7rem;
}

.serviceNavFlex li {
  list-style: none;
  margin: 0.2rem;
}

.serviceNavFlex li a {
  padding: 0.5rem;
  border: 1px solid gray;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border-radius: 3px;
  width: 11rem;
  display: inline-block;
  text-align: center;
}

.serviceNavFlex li a:hover {
  background-color: pink;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.individualProduct {
  padding: 2rem;
  border-radius: 5px;
  min-width: 30%;
  width: 33%;
  background-color: #FDF6F0;
  -webkit-box-shadow: 2px 2px 10px #797878;
          box-shadow: 2px 2px 10px #797878;
  margin: 0.5rem;
}

.individualProduct:hover {
  background-color: #FDF6F0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1167px) {
  .allServices {
    margin-top: 5rem;
  }
  .serviceNavFlex {
    width: 90%;
  }
  .serviceContainer .productType .serviceImage img {
    height: 18rem;
  }
}

@media (max-width: 1050px) {
  .headerService .wrapper h2 {
    width: 100%;
    font-size: 3.5rem;
    padding-top: 3rem;
  }
  .serviceContainer .productType .serviceImage img {
    height: 16rem;
  }
}

@media (max-width: 984px) {
  .serviceContainer button {
    right: 42%;
  }
}

@media (max-width: 900px) {
  .serviceContainer .productType .serviceImage img {
    height: 14rem;
  }
}

@media (max-width: 850px) {
  .serviceContainer .productType {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .serviceContainer .productType .serviceImage img {
    width: 100%;
    height: 30rem;
  }
  .serviceContainer .productType .individualProduct {
    width: 80%;
    margin: 0.5rem auto;
  }
  .serviceContainer .productType .individualProduct:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .serviceContainer .productType .serviceInfo {
    text-align: justify;
  }
}

@media (max-width: 700px) {
  .serviceContainer .productType .individualProduct {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .serviceContainer .productType .individualProduct {
    width: 100%;
  }
  .serviceContainer .productType .serviceImage img {
    width: 100%;
    height: 27rem;
  }
  .serviceContainer button {
    right: 36%;
    margin: 2rem 0 2rem 0;
  }
}

@media (max-width: 550px) {
  .serviceNavFlex li {
    text-align: center;
    margin: 0 auto;
  }
  .serviceNav h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .headerService .wrapper h2 {
    font-size: 3rem;
    padding-top: 2.5rem;
  }
}

@media (max-width: 525px) {
  .serviceNavFlex {
    height: 10rem;
  }
  .allServices {
    margin-top: 7rem;
  }
  .serviceContainer {
    padding: 1rem;
  }
  .serviceContainer h3 {
    font-size: 1.5rem;
  }
  .serviceContainer .serviceInfo {
    font-size: .9rem;
  }
  .serviceContainer .productType .serviceName {
    font-size: 1.2rem;
  }
  .serviceContainer .productType .serviceInfo {
    font-size: .9rem;
  }
  .individualProduct {
    padding: 1.3rem;
  }
  .serviceContainer .productType .serviceImage img {
    width: 100%;
    height: 25rem;
  }
}

@media (max-width: 450px) {
  .serviceContainer .productType .serviceImage img {
    height: 19rem;
  }
}

@media (max-width: 400px) {
  .allServices {
    margin-top: 5rem;
  }
  .headerService .wrapper h2 {
    font-size: 2.5rem;
  }
  .serviceContainer {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .serviceContainer button {
    right: 32%;
    padding: 0.7rem 1rem;
    font-size: .85rem;
  }
  .serviceNav h2 {
    font-size: 1.8rem;
  }
  .serviceNavFlex {
    height: 7rem;
  }
  .serviceNavFlex li {
    font-size: 0.7rem;
  }
  .serviceNavFlex li a {
    width: 8.5rem;
  }
}

@media (max-width: 320px) {
  .serviceContainer .productType .serviceImage img {
    height: 15rem;
  }
}

.productMain h2 {
  font-size: 2.2rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.productSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 4rem auto 3rem auto;
  padding: 1rem 0;
}

.productSection .productContainer {
  width: 33%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #c2c0c0;
  -webkit-box-shadow: 1px 1px 5px #6e6e6e;
          box-shadow: 1px 1px 5px #6e6e6e;
}

.productSection .productContainer .productImage {
  width: 100%;
}

.productSection .productContainer .productImage img {
  width: 100%;
  height: 23rem;
}

.productSection .productContainer .productInfo {
  padding: 2rem;
}

.productSection .productContainer h3 {
  text-align: center;
}

.productSection .productContainer p {
  margin: 1rem auto;
}

.productSection .productContainer a button {
  padding: .5rem;
  border-radius: 5px;
  width: 46%;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0.2rem;
  border: none;
  background-color: #c5c2c2;
}

.productSection .productContainer a button:hover {
  background-color: pink;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
}

.productSection .productContainer a .buyProduct {
  background-color: pink;
  color: #000;
}

.productSection .productContainer a .buyProduct:hover {
  color: white;
}

.productSection .productContainer:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.final {
  width: 90%;
  margin: 1rem auto;
}

@media (max-width: 1144px) {
  .productSection .productContainer .productImage img {
    height: 20rem;
  }
}

@media (max-width: 1050px) {
  .productSection .productContainer .productImage img {
    height: 18rem;
  }
}

@media (max-width: 900px) {
  .productSection .productContainer a button {
    font-size: 0.6rem;
    width: 100%;
  }
  .productSection .productContainer .productImage img {
    height: 13rem;
  }
}

@media (max-width: 768px) {
  .headerProducts {
    background-position: 50% 100%;
  }
  .headerProducts .wrapper h2 {
    font-size: 3.3rem;
    padding-top: 3rem;
  }
  .productSection .productContainer:hover {
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 700px) {
  .productSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productSection .productContainer {
    margin: 0.5rem auto;
    width: 100%;
  }
  .productSection .productContainer a button {
    width: 47%;
    font-size: .8rem;
  }
  .productSection .productContainer .productImage img {
    height: 30rem;
  }
  .final {
    text-align: center;
  }
  .productSection .productContainer .productInfo {
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .headerProducts .wrapper h2 {
    font-size: 2.8rem;
    padding-top: 2rem;
  }
  .productSection .productContainer .productImage img {
    height: 21rem;
  }
  .productMain h2 {
    font-size: 1.8rem;
  }
  .final {
    font-size: .8rem;
  }
}

@media (max-width: 400px) {
  .productSection {
    margin: 2rem auto 3rem auto;
  }
  .productSection .productContainer .productImage img {
    height: 18rem;
  }
  .headerProducts .wrapper h2 {
    font-size: 2.3rem;
    padding-top: 1.5rem;
  }
  .productMain h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  .productSection .productContainer .productImage img {
    height: 15rem;
  }
  .productSection .productContainer a button {
    width: 43%;
    font-size: .6rem;
  }
}

.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactSection form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px #727171;
          box-shadow: 2px 2px 10px #727171;
  padding: 2rem;
  margin: 3rem;
  background-color: white;
}

.contactSection form h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.contactSection form label {
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.contactSection form label input,
.contactSection form label textarea {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #FDF6F0;
  border: 1px solid #747373;
  width: 100%;
}

.contactSection form label textarea {
  height: 10rem;
}

.contactSection .calendly {
  width: 50%;
  padding: 2rem;
  margin: 3rem;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px #818080;
          box-shadow: 2px 2px 10px #818080;
  background-color: #fff;
}

.contactSection .calendly h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.submit {
  width: 30%;
  margin: 1rem auto;
  padding: 0.7rem 1rem;
  background-color: pink;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}

.submit:hover {
  color: white;
}

.contactInstructions {
  width: 90%;
  margin: 1rem auto;
}

.contactInstructions h2 {
  margin: 0 auto;
}

.contactInstructions h2 span {
  font-weight: 700;
}

.contactInstructions h2 p {
  color: pink;
  text-shadow: 0.5px 0.5px 1px #000;
}

.contactInstructions .warning {
  text-align: center;
  margin: 2.5rem 0 4rem 0;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.contactInstructions h2 {
  font-weight: 400;
}

.contactInstructions .flex h2 {
  width: 45%;
}

.contactInstructions .flex h2 i {
  color: pink;
  text-shadow: .5px .5px 1px #000;
}

.contactInstructions .cash {
  text-align: center;
  margin-top: 1rem;
  font-weight: 700;
}

.contactInstructions .contactNumber {
  text-align: center;
  margin-top: 2rem;
}

.bookAppoint {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 2rem 11.5rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: pink;
  text-transform: uppercase;
}

.bookAppoint:hover {
  color: white;
}

.appPic {
  width: 30%;
  margin: 1rem auto;
}

.appPic img {
  width: 100%;
}

.thanks {
  text-align: center;
  margin: 2rem auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #757374;
  width: 25%;
}

@media (max-width: 1425px) {
  .bookAppoint {
    width: 60%;
    margin: 2rem 6.5rem;
  }
}

@media (max-width: 1382px) {
  .appPic {
    width: 50%;
  }
  .thanks {
    width: 30%;
    font-size: 1.5rem;
  }
}

@media (max-width: 1150px) {
  .bookAppoint {
    margin: 2rem 4.5rem;
  }
}

@media (max-width: 1100px) {
  .thanks {
    width: 31%;
    font-size: 1.2rem;
  }
}

@media (max-width: 950px) {
  .appPic {
    width: 70%;
  }
  .bookAppoint {
    width: 70%;
  }
  .contactSection .calendly,
  .contactSection form {
    margin: 2rem;
  }
}

@media (max-width: 768px) {
  .headerContact {
    background-position: 90% 10%;
  }
  .headerContact .wrapper h2 {
    font-size: 3.5rem;
    padding-top: 3rem;
  }
  .contactInstructions .warning {
    font-size: 2rem;
  }
  .contactInstructions .flex h2 {
    font-size: 1.3rem;
  }
  .contactNumber {
    font-size: 1.3rem;
  }
  .cash {
    font-size: 1.3rem;
  }
  .thanks {
    width: 40%;
    font-size: 1.1rem;
  }
  .appPic {
    width: 90%;
  }
  .contactSection form,
  .contactSection .calendly {
    margin: 1rem;
  }
  .bookAppoint {
    width: 95%;
    margin: 2rem 0.5rem;
  }
}

@media (max-width: 550px) {
  .headerContact {
    background-position: 70% 10%;
    height: 85vh;
  }
  .headerContact .wrapper h2 {
    width: 70%;
    font-size: 3rem;
    padding-top: 2.3rem;
  }
  .contactInstructions .warning {
    font-size: 1.7rem;
    margin: 2.5rem 0 2rem 0;
  }
  .contactInstructions .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactInstructions .flex h2 {
    width: 95%;
    margin: 0.5rem auto;
    font-size: 1.1rem;
  }
  .contactNumber {
    width: 95%;
    font-size: 1.1rem;
  }
  .cash {
    font-size: 1.1rem;
  }
  .contactSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactSection form,
  .contactSection .calendly {
    width: 95%;
    margin: 0.5rem auto;
  }
  .bookAppoint {
    margin: 2rem 1rem;
    width: 90%;
  }
  .thanks {
    width: 50%;
    font-size: 1rem;
  }
  .appPic {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .headerContact {
    background-position: 40% 10%;
  }
  .headerContact .wrapper h2 {
    font-size: 2.5rem;
    padding-top: 1.8rem;
  }
  .contactInstructions .warning {
    font-size: 1.5rem;
  }
  .contactSection form {
    padding: 2rem 1rem;
  }
  .thanks {
    width: 65%;
    font-size: .8rem;
  }
}

footer div {
  background-color: black;
  padding: 1rem;
}

footer div h2 {
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

footer div h2 a {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  color: grey;
}

article {
  background-color: #131313;
}

article section {
  width: 90%;
  margin: 0 auto;
}

article section .flexing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article section .flexing .footerLogo {
  width: 10%;
  margin: 1rem;
}

article section .flexing .footerLogo img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #000;
}

article section .flexing h4 {
  color: #b6b3b3;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.contactUs {
  width: 80%;
}

.footerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin: .5rem 0;
  font-size: .9rem;
  width: 70%;
  text-transform: uppercase;
}

.footerContact p {
  width: 50%;
  color: white;
  text-align: left;
  margin: 0.5rem auto;
  letter-spacing: 1.3px;
}

.footerContact p i {
  color: pink;
  font-size: 1rem;
  text-shadow: 0.5px 0.5px 1.5px #555454;
}

.footerContact p a {
  color: white;
  text-decoration: none;
}

.footerContact p a:hover {
  color: pink;
}

@media (max-width: 1300px) {
  .footerContact {
    width: 80%;
  }
}

@media (max-width: 1130px) {
  .footerContact {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  article section .flexing .footerLogo {
    width: 15%;
  }
  .footerContact {
    width: 100%;
  }
}

@media (max-width: 882px) {
  article section .flexing .footerLogo {
    width: 15%;
  }
  article section .flexing h4 {
    font-size: 1rem;
  }
  .contactUs {
    width: 90%;
  }
  .footerContact {
    margin-bottom: 2rem;
  }
  .footerContact p {
    font-size: .8rem;
  }
}

@media (max-width: 720px) {
  .footerContact p {
    width: 100%;
  }
  article section .flexing .footerLogo {
    width: 30%;
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  article section .flexing .footerLogo {
    width: 40%;
  }
  .footerContact p {
    font-size: .65rem;
  }
}

@media (max-width: 500px) {
  article section .flexing .footerLogo {
    width: 40%;
  }
  .footerContact p {
    font-size: .65rem;
    margin: 0.3rem auto;
    letter-spacing: 1.1px;
  }
}

@media (max-width: 400px) {
  article section .flexing .footerLogo {
    width: 45%;
    margin-top: 2.5rem;
    margin-right: 0rem;
  }
  .footerContact p {
    font-size: .55rem;
    margin: 0.3rem auto;
    letter-spacing: 1.1px;
  }
  .contactUs {
    width: 100%;
  }
}

@media (max-width: 350px) {
  article section .flexing .footerLogo {
    width: 45%;
    margin-top: 3rem;
  }
  .footerContact p i {
    font-size: .7rem;
  }
}
/*# sourceMappingURL=styles.css.map */